<content class="reservation editor">
  <h2>Edit Reservation</h2>
  <%= form_for [:guest, @reservation], local: true do |f| %>
    <div><%= f.hidden_field :unit_id %></div>
    <div><%= f.date_field :start_at %></div>
    <div><%= f.date_field :end_at %></div>
    <div><%= f.submit %></div>
  <% end %>
</content>
