<content class="reservation editor">
  <h2>New Reservation</h2>
  <%= render 'shared/errors', object: @reservation %>
  <%= form_for [:guests, @reservation] do |f| %>
    <%= f.hidden_field :unit_id %>
    <p><%= @reservation&.unit&.address %></>
    <div><%= f.date_field :start_at %></div>
    <div><%= f.date_field :end_at %></div>
    <%= f.submit %>
  <% end %>
</content>
