<content>
  <h2>New Reservation</h2>
  <%= render 'shared/errors', object: @reservation %>
  <%= form_for [:guests, @reservation] do |f| %>
    <%= f.text_field :unit_id %>
    <%= f.text_field :start_at %>
    <%= f.text_field :end_at %>
    <%= f.submit %>
  <% end %>
</content>
