<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Search', search_path %>
  <% if session[:user].present? %>
    <%= link_to 'As Guest', guests_path %>
    <%= link_to 'As Owner', owners_path %>
    <%= link_to 'Logout', logout_path %>
  <% else %>
    <%= link_to 'Login', login_path %>
  <% end %>
</nav>
