<h2>Reservation</h2>

<content>
  <%= @reservation.guest.name %> reserved <%= @reservation.unit.address %>
  from <%= @reservation.start_at %> to <%= @reservation.start_at %>.
</content>

<nav>
  <%= link_to "Edit", edit_reservation_path(@reservation) %>
  <%= link_to "Cancel", reservation_path(@reservation), method: :delete %>
</nav>
