<h2>Hello, <%= identity&.uid %>.</h2>

<ul>
  <li><%= link_to "Search for units", search_path %></li>
  <li><%= link_to "Guest features", guest_path %></li>
  <li><%= link_to "Owner features", owner_path %></li>
  <li><%= link_to "Log out", logout_path %></li>
</ul>
