<%= form_with model: search, scope: '', url: search_path, method: 'get', local: true do |f| %>
  <%= render 'shared/errors', object: search if search.errors.present? %>
  <div><%= f.text_field :near, placeholder: 'Location' %></div>
  <div><%= f.text_field :start_at, placeholder: 'Start Date' %></div>
  <div><%= f.text_field :end_at, placeholder: 'End Date' %></div>
  <div><%= f.submit 'Search' %></div>
<% end %>
