<content>
  <h2><%= link_to "Unit \##{@unit.id}", owner_unit_path(@unit) %></h2>

  <h3>Details</h3>
  <%= form_for [:owner, @unit] do |f| %>
    <div><%= render 'shared/errors', object: @unit %></div>
    <div><%= f.text_field :address %></div>
    <div><%= f.text_field :check_in %></div>
    <div><%= f.text_field :check_out %></div>
    <div><%= f.time_zone_select :local_tz, ActiveSupport::TimeZone.us_zones %></div>
    <div><%= f.submit %></div>
  <% end %>

  <h3>Images</h3>
  <%= render partial: 'images', object: @unit.images %>
  <%= link_to "Add or remove some images.", owner_unit_images_path(@unit) %>

</content>
