<html>
  <head>
    <title><%= @title %></title>
    <%= javascript_pack_tag 'application' %>
    <%= yield :js %>
    <%= stylesheet_pack_tag 'application' %>
    <%= yield :css %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/nav' %>
    <%= render 'shared/flash' %>
    <%= yield %>
  </body>
</html>
