<html>
  <head>
    <%= javascript_pack_tag 'application' %>
    <%# stylesheet_pack_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h1>Booker</h1>
    <%= render 'shared/nav' %>
    <%= render 'shared/flash' %>
    <p>Hello, <%= identity.uid %>.</p>
    <%= yield %>
  </body>
</html>
